@keyframes animate {
    from {top:-320px; opacity:0}
    to {top:0; opacity:1}
}
*{
    box-sizing: border-box;
}
body{
    
    position: relative;
    height: 100vh;
    min-width: 100%;
}
header {
    min-height: 80px;
    background-color: #cde;
   
}
.menu {
    display: flex;
    justify-content: start;
    padding: 0;
}
.menu-item{
    list-style: none;
    padding: 2px 5px;
    margin: 0;
}
.menu-link{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
main {
    min-height: 80px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-direction: column;
}

.gallery{
    max-width: 80%;
    min-height: 80px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
} 
.gallery_item{
    width: 210px;
    border: 2px solid black;
    border-radius: 3px;
    position: relative;
    margin-bottom: 5px;
    margin-right: 5px;
}


.gallery_img{
    width: 200px;
   
    
}
#upload_form{
    margin: 5px auto;
    border: 1px solid black;
    padding: 5px;

}

.modal {
    position: fixed;
    top: 0;
    left:0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1; 
    overflow: auto;
}
.modal-content {
    animation-name: animate;
    animation-duration: 0.5s;
    
}
.modal-body{
    display:flex;
    justify-content: center;
}


.close {
    font-size:  30px;
    font-weight:  bold;
}

.photo{
    max-width: 80%;
}